body{
	background-color:#e2e2e2;
}
header{
	width:100%;
	position:fixed;
	height:50px;
	background-color:#ccc;
	overflow:hidden;
	z-index:2;
	box-sizing:border-box;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.logo {
	position: absolute;
	left: 0;
	font-size: 2em;
}

nav {
	height: 100%;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

nav ul li {
	width: 50px;
	height: 60%;
	margin: 0px 2px;
	background-color:#e2e2e2;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}



.page-content{
	padding-top:50px;
}

.page-content .main-carousel{
	width:100vw;
	height:400px;
	overflow:hidden;
	position:relative;
	z-index:1;
}

.page-content .main-carousel .carousel-next,
.page-content .main-carousel .carousel-prev{
	position:absolute;
	top:50%;
	padding:20px;
	background-color:rgba(200,200,200,1);
	cursor:pointer;
	margin-top:-25px;
}

.page-content .main-carousel .carousel-next{
	right:0;
	z-index: 1;
}

.page-content .main-carousel .carousel-prev{
	left:0;
	z-index: 1;
}

.page-content .main-carousel .carousel-cells{
	width:100%;
	height:100%;
	position: relative;
}

.page-content .main-carousel .carousel-cells article{
	position: absolute;
	top: 0;
	left: 0;
	width:100vw;
	height:100%;
	float:left;
	background-color: white;
}

.slide-text {
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slide-text h1 {
	font-size: 3em;
}

.next {
	-webkit-animation: 0.5s linear 0s 1 normal forwards _next;
	animation: 0.5s linear 0s 1 normal forwards _next;
}

.current-next {
	-webkit-animation: 0.5s linear 0s 1 normal forwards _current_next;
	animation: 0.5s linear 0s 1 normal forwards _current_next;
}

.previous {
	-webkit-animation: 0.5s linear 0s 1 normal forwards _previous;
	animation: 0.5s linear 0s 1 normal forwards _previous;
}

.current-previous {
	-webkit-animation: 0.5s linear 0s 1 normal forwards _current_previous;
	animation: 0.5s linear 0s 1 normal forwards _current_previous;
}

@-webkit-keyframes _next { from { margin: 0 } to { margin-left: -200%; } }
@keyframes _next { from { margin: 0 } to { margin-left: -200%; } }
@-webkit-keyframes _current_next { from { margin-right: -200%; } to { margin: 0; } }
@keyframes _current_next { from { margin-right: -200%; } to { margin: 0; } }
@-webkit-keyframes _previous { from { margin: 0 } to { margin-right: -200%} }
@-webkit-keyframes _current_previous { from { margin-left: -200%} to { margin: 0;} }
@keyframes _previous { from { margin: 0 } to { margin-right: -200%} }
@keyframes _current_previous { from { margin-left: -200%} to { margin: 0;} }


/*@-webkit-keyframes next_animation { from { margin-left: -20%; } to { margin-left: 100%; } }
@keyframes next_animation { from { margin-left: -20%; } to { margin-left: 100%; } }
@-webkit-keyframes current_next_animation { from { margin-left: -20%; } to { margin-left: 40%; } }
@keyframes current_next_animation { from { margin-left: -20%; } to { margin-left: 40%; } }*/

.hidden {
	display: none;
}

.column-content {
	padding: 20px 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: whitesmoke;
}

.column-content h1 {
	font-size: 1.5em;
}

.three-columns {
	/*display: flex;
	justify-content: space-between;
	width: 80%*/
	column-count: 4;
	margin: 15px 0px;
}

.list-block {
	break-inside: avoid;
	margin-bottom: 15px;
}

.list-block h3 {
	margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
	.three-columns {
		column-count: 3;
	}
}
